

.container{
margin-top:10%;


}


.the-table{

	background-image:url("beachSand.png");
	border:5px solid #663300;
	margin-top:30px;
	padding:30px 0px;
	border-radius:10px;
	
}

.card{
	height:120px;
	background-color:#fff;
	color:black;
	margin:10px;
	width:13%;
	border-radius:5px;
	box-shadow: 10px 10px 5px #000;
	background-image:url("beachCardBack.png");

	background-repeat:no-repeat;
	background-size:auto 120px;

}


.dealer-hand-wrapper, .player-hand-wrapper{

	color:red;
	font-size:18px;
	text-align:center;

}

.dealer-total-number,.player-total-number{
	display:block;
	text-align:center;
}


.player-actions button{
	width:100%;
	border-radius:3px;
	color:white;
	background-color:black;

}

.wholeDeck{
	width:90%;
	margin-left:600px;
	padding-bottom:10px;
	
	

}

.wholeDeck,.card{
background-image:url("beachCardBack.png");

	background-repeat:no-repeat;
	background-size:auto 120px;


}

.card{
padding:0px;
}


img{
	max-width:110%;
	
	max-height:110%;
}

.message{
	text-align: center;
	font-size: 24px;
	color: white;
	background-color: blue;
	margin-top: 10px;
	
}


.player-chips{
text-align:center;
width:100%;
display:block;


}





 